<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.m37moud.responsivestories">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResponsiveStories"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activities.started.SplashActivity"
            android:screenOrientation="landscape"
            android:theme="@style/SplashScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.started.onboarding.ViewPagerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/ViewPagerScreenStyle" />

        <activity
            android:name=".ui.activities.story.StoryActivity"
            android:screenOrientation="landscape"
            android:theme="@style/StoryScreenStyle" />
        <activity
            android:name=".ui.activities.learn.LearnActivity"
            android:screenOrientation="landscape"
            android:theme="@style/LearnScreenStyle" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activities.started.StartActivity"
            android:screenOrientation="landscape"
            android:theme="@style/StartScreenStyle" />

        <activity
            android:name=".ui.activities.learn.EnteredLearnActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:label="@string/title_activity_entered_learen"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.ResponsiveStories.NoActionBar" />
        <activity
            android:name=".ui.activities.story.OfflinePlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activities.story.OnlinePlayerActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:screenOrientation="landscape" />

        <service
            android:name=".util.media.AudioService"
            android:enabled="true" />

        <service
            android:name=".util.DemoDownloadService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.downloadService.action.RESTART" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.google.android.exoplayer2.scheduler.PlatformScheduler$PlatformSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".util.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Sample AdMob App ID: ca-app-pub-9331212887639574~2078263925 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_child" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>